*{
    padding: 0;
    margin: 0;
    font-family: "Inter",sans;
    color:white;
    box-sizing: border-box;
}

:root{
    
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey-700: hsl(0, 0%, 20%);
    --Grey-800: hsl(0, 0%, 12%);
    --Grey-900: hsl(0, 0%, 8%);

}
html,body{
    width: 100%;
    padding: 20px;
    height: 100%;
 display: flex;
 flex-direction: column;
align-items: center ;
    background-color: var(--Grey-900);
}

main{
    text-align: center;
    width: 50vh;
    min-width: 200px;
    height: max-content;
    padding: 30px;
    /* position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
 
    display: flex;
    flex-direction: column;
    background-color: var(--Grey-800);
    border-radius: 20px;
    gap: 10px;
}

.name{
    font-size: 22px;
    font-weight: 600;

}

.links-con{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height:50vh ;
    width: 100%;
    
}
.link{
    padding: 15px 20px ;
    transition:  all ease-in-out 0.5s;
    border-radius: 10px;
    background-color: var(--Grey-700);
}

.link:hover{
    background-color: var(--Green);
    color: black;
}

.location{
    font-size: 12px;
    font-weight: 600;
    color: var(--Green);
}

.profile{
    font-weight: 300;
}


img{
    border-radius: 50%;
    margin: 0 auto;
    width: 100px;
}
.attribution {
     font-size: 11px; 
     text-align: center; 
    }
   
.attribution a { 
    color: var(--Green);
 }
